.profile__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0%;
  color: rgba(33, 33, 33, 0.7);
  transition: color 0.3s ease;
  font-size: 16px;
  background-color: rgba(252, 245, 229, 1);
  font-weight: 500;
}
.profile__edit-button:hover {
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
.edit__icon-image {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover .edit__icon-image {
  opacity: 1;
}

.add__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  padding-right: 8px;
}

.new__post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  border: black solid 1px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  transition: color 0.5s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: flex-start;
  letter-spacing: 0%;
  font-style: normal;
}
.new__post-button:hover {
  cursor: pointer;
  color: rgba(252, 245, 229, 0.8);
  background-color: rgba(33, 33, 33, 0.8);
  border: rgba(33, 33, 33, 0.8) solid 1px;
}
