.page {
  background-color: rgba(252, 245, 229, 1);
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}
